TextField{
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 7px;
    -fx-fill: #000000;
    -fx-prompt-text-fill: #000000;
}

Button{
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 7px;
    -fx-fill: #000000;
}

.Main-Anchorpane{
    -fx-background-image: url('../icons/CreateEventBackgroundImg.jpg');
    -fx-background-size: 100% auto;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: black;

}

.TopScreen-Anchorpane{
    -fx-background-color: #172734;
}

.InputFields-Anchorpane{
    -fx-background-color: #172734;
    -fx-background-radius: 7px;
}

.CreateEvent-Heading{
    -fx-fill: white;
    -fx-font-size: 20;
}

.inputTextField {
    -fx-pref-width: 520;
    -fx-pref-height: 40;
}